{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img id="avatar" class="img-circle" src="https://gravatar.com/avatar/{{ .Site.Params.GravatarHash }}?s=150" alt="avatar"/>
        </div>
        <h3>Hello  👋 fellow human being!</h3>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>.</h3>
        <h3>I like building things with code for fun and profit.</h3>
        <h3>For more, check out my <a href="https://aish.io/resume/">résumé</a>.</h3>
        <h3>If you wish you may <a href="mailto:{{ .Site.Params.Social.Email }}">email</a> me.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
