{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img id="avatar" class="img-circle" src="https://gravatar.com/avatar/{{ .Site.Params.GravatarHash }}?s=150" alt="avatar"/>
        </div>
        <h3>Hello 👋 fellow human being!</h3>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>.</h3>
        <h3>Welcome to my little corner of the World Wide Web. </h3>
        <h3>Over the years, I've written some <a href="//blog.aish.io">blog posts</a>, given some <a href="/talks">talks</a>, and written some <a href="//github.com/aishraj">open source code</a>.</h3>
        <h3>If you wish you may <a href="mailto:{{ .Site.Params.Social.Email }}">email</a> me.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
